[submodule "openapi_retrofit_generator"]
	path = openapi_retrofit_generator
	url = https://github.com/fluxerapp/openapi_sdk_gen_dart.git
[submodule "zstd_dart"]
	path = zstd_dart
	url = https://github.com/fluxerapp/zstd_dart.git
